.text__center {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.2rem;
    align-items: center;
}
.text__center::before,
.text__center::after {
    content: "";
    display: block;
    height: 1px;
    background-color: currentColor;
}
.list-group-item{
    padding: 5px;
}
.list-group-flush a{
    text-decoration: none;
    color: #000;
}
.list-group-flush, .list-group-item{
    margin: 3px;
}
 .list-group-item:hover{
   background-color: rgba(0, 0, 0, 0.493);
   color: white;
   cursor: pointer;
}

/* tickets details starts here */
.ticket-type{
    background-color: #efefef;
}
.type-card .card-title{
    border-bottom: 2px dotted #efefef;
}
.main-card{
    border-bottom: 3px solid #61c3e3;
}
.card-success{
    background-color: #e8f4d9;
    color: #6fb229;
    border-left: 5px solid #6fb229;
}
.select-active{
    border: 2px solid #61c3e3;
    background-color: #cfe2ff;
}
.select-card{
    border-radius: 10px;
}
.select-card:hover{
    border: 2px solid #61c3e3;
    background-color: #cfe2ff;
}
.ticket-num-card{
    background-color: #efefef;
    text-align: center;
}
.ticket-num-card:hover{
    background-color:#cfe2ff;
    text-align: center;
}
.about-card{
    font-size: 14px;
    height: 200px;
    border-radius: 10px;
}
.about-card:hover{
    border: 2px solid #61c3e3;
    background-color: #cfe2ff;
}
.bi-info-circle-fill{
    color: #61c3e3;
    font-size: 18px;
}
.tags{
    border-bottom: 2px dotted #efefef;
    padding-bottom: 10px;
}
.bi-download{
    font-size: 45px;
}
.check-text{
    max-width: 500px;
    margin: auto;
}
.bi-check{
    font-size: 20px;
    color: #61c3e3;
}